<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>My Likes</title>
</head>
<body>
    <h1>My Liked Posts</h1>
    <a href="/">Back to Home</a>
    
    <% likes.forEach(like => { %>
        <div class="post">
            <p><%= like.content %></p>
            <small>By: <%= like.user.username %></small>
            <small>Liked on: <%= like.createdAt %></small>
        </div>
    <% }) %>
</body>
</html>